


  .button-color {
    background-color: rgb(96, 114, 221);
    border-color: rgb(96, 114, 221);
  }
  .button-color:hover {
    background-color: rgb(60, 78, 175);
    border-color: rgb(60, 78, 175);
  }
  
  .text-color {
    color: rgb(96, 114, 221);
  }
  
  #bg-block {
    background-image: url(https://images.unsplash.com/photo-1506905925346-21bda4d32df4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80);
    background-size:cover;
    background-position:center center;
  }
  
  .mh-100vh {
    min-height: 100vh;
  }
  
  #login-block {
    -webkit-box-shadow: 0px 0px 45px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 45px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 45px 0px rgba(0,0,0,0.4);
    z-index: 2;
  }
  
  @media (max-width: 991.98px) {
    #login-block {
      opacity: .95;
    }
  }
  
  @media (max-width: 991.98px) {
    #bg-block {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }
  
  @media (min-width: 992px) {
    .w-lg-75 {
      width: 75%;
    }
  }
  
  @media (min-width: 992px) {
    .rounded-lg-0 {
      border-radius: 0 !important;
    }
  }
  
  @media (min-width: 1200px) {
    .w-xl-50 {
      width: 50%;
    }
  }
  
  